@font-face {
  font-family: "tituloPag";
  src: url(/src/styles/fonts/RussoOne-Regular.ttf);
}

.contenedorNav{
  background-color: #252836;
}

/* HOME */
.logo{
  width: 90px;
  height: 90px;
}

.tituloPagina{
  margin-left: 10px;
  font-family: "tituloPag";
}

.botonHome{
  text-decoration: none;
  color: white;
}

.botonHome:hover{
  color: #82859a;
}

/* BUSCADOR */
.buscador{
  width: 40%;
}

/* AVATAR */
.avatar-container {
  position: relative;
  width: 40px; 
  height: 40px;  
  border-radius: 50%; 
  overflow: hidden;
  margin-right: 10px;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-name{
  color: white;
  font-weight: bold;
}

.bibell{
  color: white;
}
